<div ng-controller="MainCtrl as ctrl">
  <ul class="nav nav-tabs">
    <li ng-class="ctrl.tabClass('USDT')"><a href="#" ui-sref="main({code: 'USDT'})">USDT</a></li>
    <li ng-class="ctrl.tabClass('BTC')"><a href="#" ui-sref="main({code: 'BTC'})">BTC</a></li>
    <li ng-class="ctrl.tabClass('ETH')"><a href="#" ui-sref="main({code: 'ETH'})">ETH</a></li>
  </ul>
  <div class="row">
    <div class="col-sm-12">
      <div style="margin: 40px 50%" ng-show="!ctrl.rates">
        <img src="/CryptoCurrency/assets/ajax-loader.gif" style="margin-left: -64px"/>
      </div>
      <div ng-show="ctrl.rates.length">
        <div style="margin: 10px 0">
          Estimated Value: {{ ctrl.baseEstValue }} {{ ctrl.baseCode }}
        </div>
        <table class="table table-striped table-rates">
          <tbody>
            <tr ng-repeat="rate in ctrl.rates" style="height:50px">
              <td width="35">
                <img width="24" ng-src="{{ ctrl.logos[rate.code] }}" />
              </td>
              <td width="100" style="overflow:hidden">
                {{ rate.code }}
                <div class="gray">{{ rate.name }}</div>
              </td>
              <td width="150" style="white-space:nowrap">
                <span class="gray">{{ ctrl.baseSymbol }}</span> {{ rate[ctrl.baseCode] || '?' }}
                <div class="gray" ng-click="ctrl.valModal(rate)">
                  <div ng-show="rate.value">
                    {{ rate.value }} {{ rate.code }}<br>
                    {{ rate.value * rate[ctrl.baseCode] }} {{ ctrl.baseCode }}
                  </div>
                  <div ng-show="!rate.value">Click & Type Value</div>
                </div>
              </td>
              <td width="40">
                <a href="#" ng-click="ctrl.favClick(rate.code)" onclick="return false">
                  <i class="glyphicon" ng-class="ctrl.favClass(rate.code)" style="font-size:24px" />
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
